{% extends "./template.html" %}
{% block content %}

        {% if not erros_por_funcionario %}
<div class="text-black p-1 m-auto border-orange w-25">
        <div class="cadastrar_produto">
    <h3>Comparar Relatórios</h3>

    <form class="m-auto w-75" action="/vendas/comparar_erros" method="post">
        <div class="mb-1 mt-3">
        <h6>Primeiro relatório</h6>
        <label for="data_inicial1">Data inicial:</label>
        <input class="form-control text-center w-75 m-auto mb-2" type="date" id="data_inicial1" name="data_inicial1" required>
        </div>
        <label for="data_final1">Data final</label><br>
        <input class="form-control text-center w-75 m-auto mb-2" type="date" id="data_final1" name="data_final1" required>
        <div class="mt-3">
         <h6>Segundo relatório</h6>
        <label for="data_inicial2">Data inicial:</label><br>
        <input class="form-control text-center w-75 m-auto mb-2" type="date" id="data_inicial2" name="data_inicial2" required>

        <label for="data_final2">Data final</label><br>
        <input class="form-control text-center w-75 m-auto mb-2" type="date" id="data_final2" name="data_final2" required>
        </div>
        <input class="btn btn-warning  mt-2" type="submit" value="Emitir">
    </form>
        </div></div>
    {% endif %}

    {% if erros_por_funcionario %}

    <h2>Comparação de relatórios de erros de Vendas</h2>
    <h4>Relatório 1: {{ data_inicial1.strftime('%d/%m/%Y')  }} à {{ data_final1.strftime('%d/%m/%Y')  }}</h4>
    <h4>Relatório 2: {{ data_inicial2.strftime('%d/%m/%Y')  }} à {{ data_final2.strftime('%d/%m/%Y')  }}</h4>
<div class="d-flex justify-content-center m-1 p-1 text-center">
       <div class="background-suave border-orange border-black m-3 p-2 h-25">
       <h3>Relatórios</h3>
       <h4>Erro por vendedor</h4>
   <table class="table-bordered m-auto text-center align-middle border-black">
    <tr>
        <th>Vendedor</th>
        <th>Relatório 1</th>
        <th>Relatório 2</th>
        <th>%</th>
    </tr>
         {% for funcionario, erros in erros_por_funcionario.items()  %}
    <tr>
        <td>{{ funcionario  }}</td>
        <td>{{ erros.total1 }}</td>
    <td>{{ erros.total2 }}</td>
    <td>{{ calcular_porcentagem(erros.total1,  erros.total2) }}</td>

    </tr>
        {% endfor %}

    </table><br>
</div>

              <div class="background-suave  border-orange border-black m-3 p-2 h-25">
              <h3>Totais</h3>
                  <h4>Relatório 1</h4>
       <h5>Total de erros: {{ total_erros_periodo_1  }}</h5>
       <h5>Total de entregas:{{ total_de_entregas }}</h5>
       <h5>Erros por entrega: {{   "%.2f" % ((total_erros_periodo_1 / total_de_entregas)*100) }} % </h5> <br>
                  <h4>Relatório 2</h4>
       <h5>Total de erros: {{ total_erros_periodo_2 }}</h5>
       <h5>Total de entregas:{{ total_de_entregas2 }}</h5>
        <h5>Erros por entrega: {{  "%.2f" % ((total_erros_periodo_2 / total_de_entregas2) * 100) }}%</h5>

               <br>
</div>
        <div class="background-suave  border-orange border-black m-3 p-2 h-25">
              <h3>Comparação</h3>
                <h4>Total de erros:{{ calcular_porcentagem(total_erros_periodo_1, total_erros_periodo_2) }}</h4>
            <h4>Média de erros: {{  calcular_porcentagem((total_erros_periodo_1 / total_de_entregas), (total_erros_periodo_2 / total_de_entregas2)) }}</h4>
               <br>
</div>
    </div>
{% endif %}
{% endblock %}