{% extends "./template.html" %}
{% block content %}
    {% if not total_erros %}
    <div class="text-black p-1 m-auto border-orange w-25">
    <h2>Relatório de erros</h2>
    <form class="m-2 w-50 m-auto" action="/vendas/erros_relatorio" method="post">

        <label  class="m-2"  for="data_inicial">Data inicial:</label>
        <input class="form-control text-center" type="date" id="data_inicial" name="data_inicial" required>

        <label  class="m-2"  for="data_final">Data final</label>
        <input class="form-control text-center" type="date" id="data_final" name="data_final" required>

        <input  class="btn btn-warning m-2" type="submit" value="Emitir">
    </form>
        </div>
    {% endif %}

    {% if total_erros %}

       <h2>Listagem de erros de vendas</h2>
        <h3>Referente ao período de {{ data_inicial.strftime('%d/%m/%Y') }} á {{ data_final.strftime('%d/%m/%Y') }}</h3>
    <div class="d-flex justify-content-center m-1 p-1 text-center">
    <div class="background-suave  border-orange border-black m-3 p-2 h-25">
    <h3>Erros por Funcionário</h3>
    <table class="table-bordered m-auto text-center align-middle border-black">
        <tr>
            <th>Funcionário</th>
            <th>Erros</th>
        </tr>
        {% for erro_por_funcionario in erros_por_funcionario %}
        <tr>
            <td>{{ erro_por_funcionario.erro_funcionario }}</td>
            <td>{{ erro_por_funcionario.total_erros }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>

    <div class="background-suave  border-orange border-black m-3 p-2 h-25">
    <h3>Total de erros: {{ total_erros }}</h3>
    <h3>Erros por entrega : {{ "%.2f" % ((total_erros / total_de_entregas) * 100) }}%</h3>
    </div>


    </div>

  <div class="table-responsive background-suave fs-14 m-2">

    <table class="table-bordered text-center m-auto align-middle border-black">
  <tr>
      <th>Data</th>
      <th>Vendedor</th>
      <th>Cliente</th>
      <th>Erros</th>
      <th>Motorista</th>
      <th>Produtos</th>
      <th>Descrição do erro</th>
      <th>Criador</th>
      <th class="botoesacao">Ação</th>

  </tr>
   {% for erro in erros %}
  <tr>
    <td>{{ erro.data_do_erro.strftime('%d/%m/%Y') }}</td>
    <td>{{ erro.erro_funcionario }}</td>
    <td>{{ erro.erro_cliente}}</td>
    <td>{{ erro.quantidade_de_erros}}</td>
    <td>{{ erro.motorista_da_entrega }}</td>
    <td>{{ erro.produto_erro }}</td>
    <td>{{ erro.descricao_do_erro }}
    <td>{{ erro.criador }}</td>
    <td class="botoesacao">
        <form action="/vendas/editar_erro/{{ erro.id }}" method="get">
        <input class="btn btn-warning btn-sm mt-1 mb-1" type="submit" value="Editar">
    </form>
        <form action="/vendas/deletar/{{ erro.id }}" method="post">
        <input class="btn btn-warning btn-sm mb-1" type="submit" value="Apagar">
    </form></td>
  </tr>
        {% endfor %}
</table>
    </div>
    {% endif %}
{% endblock %}