{% extends "./template.html" %}
{% block content %}
     <div class="shadow-lg text-black p-1 m-auto border-orange w-25">
    <h3>Cadastro de Vencimento</h3>
    <div class="mb-3"><img class="procurarimg" src="../static/imagens/cadastrar.png" width="60" alt=""></div>
    <form action="/vencimentos/cadastro" method="post">
        <div class="mb-3"><label for="codigo_produto">Código do Produto:</label>
            <input class="form-control text-center w-50 m-auto" type="number" id="codigo_produto" name="codigo_produto" value="{{ produto.codigo_do_produto }}" required></div>

        <div class="mb-3"><label for="nome_produto">Nome do Produto:</label>
        <input class="form-control text-center w-50 m-auto" type="text" id="nome_produto" name="nome_produto" minlength="600" value="{{ produto.nome_do_produto }}" required ></div>

        <div class="mb-3"><label for="quantidade">Quantidade: </label>
            <input class="form-control text-center w-50 m-auto" type="number" id="quantidade" name="quantidade" step="0.001" min="0" value="0" required></div>

        <div class="mb-3"><label for="data_vencimento">Data de Vencimento:</label>
            <input class="form-control text-center w-50 m-auto" type="date" id="data_vencimento" name="data_vencimento" required></div>

        <input class="btn btn-sm btn-warning m-2" type="submit" value="Cadastrar">
    </form>
    <div>
{% endblock %}
