{% extends "./template.html" %}
{% block content %}
     <div class="text-black p-1 m-auto border-orange w-25 text-center">
    <h2>Editar Vencimento</h2>
        <div class="w-75 m-auto mt-2">
         <form class="mt-2" action="/vencimentos/editar/{{ vencimento.id }}" method="post">
        <label class="mt-2" for="codigo_produto">Código do Produto:</label>
        <input class="form-control text-center" type="number" id="codigo_produto" name="codigo_produto" value="{{ vencimento.codigo_do_produto }}" readonly required>

        <label class="mt-2" for="nome_produto">Nome do Produto:</label>
        <input class="form-control text-center" type="text" id="nome_produto" name="nome_produto" minlength="600" value="{{ vencimento.nome_do_produto }}" readonly required>

        <label class="mt-2" for="quantidade">Quantidade: </label>
        <input class="form-control text-center" type="number" id="quantidade" name="quantidade" step="0.01" value="{{ vencimento.quantidade }}" required>
        <input class="btn btn-warning mt-2" type="submit" value="Editar">
    </form>
     </div></div>
{% endblock %}
