{% extends "./template.html" %}
{% block content %}

    <h2>Listagem de vencimentos de produtos</h2>
    <div class="d-flex justify-content-center m-1 p-1 text-center">
    <div class="table-responsive background-suave  m-2 p-2">
    <table class="table-bordered text-center align-middle border-black">
  <thead>
        <tr>
      <th>Código</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Vencimento</th>
      <th>Dias</th>
      {% if current_user.is_authenticated %}
      <th >Ação</th>
      {% endif %}
      <th>Usuário</th>

  </tr></thead>
   {% for vencimento in vencimentos %}
  <tbody>
       <tr>
    <td>{{ vencimento.codigo_do_produto }}</td>
    <td>{{ vencimento.nome_do_produto }}</td>
    <td>{{ vencimento.quantidade | format_quantidade }}
    </td>
    <td>{{ vencimento.data_de_vencimento.strftime('%d/%m/%Y') }}</td>
    <td class="{% if vencimento.dias_restantes < 15 %}bg-danger{% endif %}
                {% if vencimento.dias_restantes < 30 %}bg-warning{% endif %}
                {% if vencimento.dias_restantes >= 30 %}bg-success{% endif %}">{{ vencimento.dias_restantes }}</td>
    {% if current_user.is_authenticated %}
        <td class="flexNoBoards"><form action="/vencimentos/editar/{{ vencimento.id }}" method="get">
        <input class="btn btn-sm btn-warning me-1" type="submit" value="Editar">
        </form>
        <form action="/vencimentos/deletar/{{ vencimento.id }}" method="post">
        <input class="btn btn-sm btn-warning" type="submit" value="Apagar">
        </form></td>
    {% endif %}
    <td class="botoesacao">{{ vencimento.criador }}</td>
  </tr>
        {% endfor %}</tbody>
</table>
    </div>
    </div>
{% endblock %}