{% extends "./template.html" %}
{% block content %}

    <h2 class="m-2">Listagem de vencimentos de produtos</h2>
    <div class="d-flex justify-content-center text-center">
    <div class="shadow-lg table-responsive ">
    <table class="table-bordered text-center align-middle">
  <thead>
        <tr>
        <th>Inserção</th>
      <th>Código</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Vencimento</th>
      <th>Dias</th>
      <th>Última At.</th>
          {% if current_user.is_authenticated %}

      <th class="botoesacao">Ação</th>
      <th >Usuário</th> {% endif %}

  </tr></thead>
   {% for vencimento in vencimentos %}
  <tbody>
       <tr>
       <td> {{ vencimento.data_de_insercao.strftime('%d/%m') }}</td>
    <td>{{ vencimento.codigo_do_produto }}</td>
    <td>{{ vencimento.nome_do_produto }}</td>
    <td>{{ vencimento.quantidade | format_quantidade }}
    </td>
    <td>{{ vencimento.data_de_vencimento.strftime('%d/%m/%Y') }}</td>
    <td class="{% if vencimento.dias_restantes < 15 %}bg-danger{% endif %}
                {% if vencimento.dias_restantes < 30 %}bg-warning{% endif %}
                {% if vencimento.dias_restantes >= 30 %}bg-success{% endif %}">{{ vencimento.dias_restantes }}</td>
           <td> {{ vencimento.atualizacao.strftime('%d/%m') }}</td>
           {% if current_user.is_authenticated %}
        <td class="flexNoBoards botoesacao"><form action="/vencimentos/editar/{{ vencimento.id }}" method="get">
        <input class="btn btn-sm btn-warning me-1" type="submit" value="Editar">
        </form>
        <form action="/vencimentos/deletar/{{ vencimento.id }}" method="post">
        <input class="btn btn-sm btn-warning" type="submit" value="Apagar">
        </form></td>



    <td class="">{{ vencimento.criador }}</td>{% endif %}
  </tr>
        {% endfor %}</tbody>
</table>
    </div>
    </div>
{% endblock %}