{% extends "./template.html" %}
{% block content %}

    <div class="text-black p-1 m-auto border-orange fs-5 w-25">
    <h2 class="vermelho">{{ erro }}</h2>
    <h2 class="verde">{{ sucesso }}</h2>
    <h2>Cadastrar Funcionário</h2>

    <form  class="w-75 m-auto" action="/adm/cadastrar_funcionario" method="post">
        <div class="mb-3 m-auto"><label for="nome">Nome do funcionário:</label>
            <input class="form-control text-center w-50 m-auto" type="text" id="nome" name="nome" required></div>

        <div class="mb-3 m-auto"><label for="funcao">Função:</label>
       <select class="form-select text-center w-50 m-auto"  id="funcao" name="funcao" required>
            <option class="opcao" value="Motorista">Motorista</option>
            <option class="opcao" value="Ajudante">Ajudante</option>
           <option  class="opcao" value="Conferente">Conferente</option>
           <option class="opcao" value="Vendedor">Vendedor</option>
           <option class="opcao" value="Faturista">Faturista</option>
       </select></div>
        <input class="btn btn-sm btn-warning m-2" type="submit" value="Cadastrar">
    </form>
    <div>
{% endblock %}
