{% extends "template.html" %}
{% block content %}
    <h1>Cadastrar Usuário</h1>
    <form action="/registrar" method="post">
      <label for="username">Usuário:</label><br>
      <input type="text" name="username" /><br>
      <label for="password">Senha:</label><br>
      <input type="password" name="password" /><br>
      <label>Filial:</label><br>
      <select id="filial">
        <option>Matriz</option>
         <option>Zona Norte</option>
          <option>Lagoa Nova</option>
          <option>Parnamirim</option>
        </select><br><br>
      <button type="submit">Submit</button>
    </form>
{% endblock %}