{% extends "./template.html" %}
{% block content %}
    <div class="d-flex justify-content-center m-1 p-1 text-center">

    <div class="background-suave border-orange border-black m-3 p-2 h-25">
        <h1>Listagem de Funcionários</h1>
    <table class="table-bordered m-auto text-center align-middle border-black">
    <tr>
        <th>Nome:</th>
        <th>Função</th>
        <th>Ação</th>
    </tr>
        {% for i in funcionarios %}
    <tr>
        <td>{{ i.nome }}</td>
        <td>{{ i.funcao }}</td>
        <td class="botoesacao"><form action="/adm/deletar_funcionario/{{ i.id }}" method="post">
    <input class="btn btn-sm btn-warning m-2" type="submit" value="Apagar"></form></td>

    </tr>
        {% endfor %}

    </table><br>
    </div>
    </div>
{% endblock %}