{% extends "./template.html" %}
{% block content %}
    <style>
    .listagemfuncionarios{
        margin: auto;
        align-items: center;
        justify-content: center;

    }

    </style>
    <div class="listagemfuncionarios">

    <div>
        <h1>Listagem de usuãrios</h1>
    <table class="listagemfuncionarios">
    <tr>
        <th>Nome:</th>
        <th>Loja:</th>
        <th>Nível:</th>
        <th>Ação:</th>
    </tr>
        {% for i in usuarios %}
    <tr>
        <td>{{ i.username }}</td>
        <td>{{ i.filial }}</td>
        <td>{{ i.acesso }}</td>
        <td class="botoesacao"><form action="/adm/deletar_funcionario/{{ i.id }}" method="post">
    <input type="submit" value="Apagar"></form></td>

    </tr>
        {% endfor %}

    </table><br>
    </div>
    </div>
{% endblock %}