html{
        background: rgba(255, 165, 0, 0.16);
        font-family: 'Poppins', sans-serif;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    padding-left: 10px;
    font-size: 16px;

}

.logo{
    padding-top: 4px;
     mix-blend-mode: multiply;
}
.procurarimg{
     mix-blend-mode: multiply;
}
.botoesmenu{
    display: inline-flex;

}

.botaoavarias {
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    width: 120px;
    background-color: orange;
    text-align: center;
    margin-left: 8px;
        margin-right: 5px;
}

.botaovecimentos{
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    width: 120px;
    background-color: orange;
    text-align: center;
    margin-left: 8px;
    margin-right: 5px;

}

.botaoavariasconteudo{
    cursor: pointer;
    margin-top: 1px;
    visibility: hidden;
    position: absolute;
    background-color: orange;
    align-content: center;
    justify-content: center;
        width: 120px;
    border-radius: 2px;
     z-index: 1000;
}
.linkbotoes {
    width: 100%;
    display:inline-block
}

.botaovecimentosconteudo{
    margin-top: 1px;
    visibility: hidden;
    position: absolute;
    background-color: orange;
    align-content: center;
    justify-content: center;
    border-radius: 2px;
    z-index: 1000;
    width: 120px;

}
.linkbotoes:hover{
    background-color: orangered;

}
.botaoavarias:hover {
 transform: scale(1.05);
}

.botaovecimentos:hover {
 transform: scale(1.05);
}

.botaoavarias:hover .botaoavariasconteudo {
    visibility: visible;
}

.botaovecimentos:hover .botaovecimentosconteudo {
    visibility: visible;
}

.botaoavarias .botaoavariasconteudo:not(:hover),
.botaovecimentos .botaovecimentosconteudo:not(:hover) {
      transition-delay: 0.1s;
}


.conteudo{
  margin: auto;
  width: fit-content;
    text-align: center;
    align-content: center;
  padding: 50px;
}

table, th, td{
    padding: 5px 5px;
    border: 1px solid;
}
.acoes{
    justify-content: center;
    align-items: center;
}
.acoes form {
    margin: 0;
}
input[type="submit"] {
    width: fit-content;
    border-style: unset;
    border-radius: 2px;
    background-color: orange;}

.vermelho{
    background-color: rgb(251, 73, 73);
}

.amarelo{
    background-color: #ffff4c;
}

.verde{
    background-color: #4cff4c;
}
input[type="submit"]:hover{
     transform: scale(1.05);
}

form {
    text-align: center;
}

input{
    text-align: center;
    width: fit-content;
}

a{
    background: none;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

#filial{
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.procurarproduto{
    border: solid #ffcc77 3px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    background-color: #ffcc77;
}
.cadastrar_produto{
    border: solid #ffcc77 3px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    background-color: #ffcc77;
}

.resumoavarias{
        border: solid 1px;
        width: fit-content;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    margin: auto;
    text-align: justify;
        margin-top: 0;

}
.tabelaavarias{
    padding: 10px;
}
.resumo{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
.dez_itens{
    border: 0px #ffcc77 solid;
    text-align: center;
    margin: auto;
}
@media print {
  /* All your print styles go here */
  .botaovecimentos,
  .botaoavarias,
  .logo,
  .menu,
  .botoesmenu,
  footer,
  header,
  title,
  menu,
  .botoesacao{
    display: none;
  }
    .resumoentregas{
    font-size: 15px;
}
.conteudo{
    top:0;
    padding: 0;
}
.resumoavarias{
    margin-left: 5px;
}
  }
.resumoavarias{
    margin-left: 5px;
}
select{
    text-align: center;
}
.resumoentregas{
    text-align: center;
    margin: 0 0 auto;
    font-size: 15px;
    border: solid 1px;
    width: fit-content;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    text-align: center;
}
.resumoerros{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 auto 15px;
    padding: 15px 15px 15px 15px;
    font-size: 15px;
    border: solid 1px;
    width: fit-content;
    border-radius: 5px;
}
.tabelaerros{
    margin: auto;
}