.background-suave{

}
.flexNoBoards{
    display: flex;
    border: none;
}
flexNoBoardErros{
    display: flex;
    border-left: 1px;
}
.fs-12{
    font-size: 14px;

}
.btn-custom-orange {
    background-color: orange; /* Cor laranja */
    color: black; /* Cor do texto */
    border: none; /* Remover bordas se necessário */
}

.btn-custom-orange:hover, .btn-custom-orange:focus, .btn-custom-orange:active, .btn-custom-orange:target  {
    background-color: #e64a19; /* Cor laranja escura para o efeito hover */
    color: black;
}
.dropdown-menu {
    min-width: auto; /* Allow width to fit content */
    text-align: left;
    color: black;
}
.border-orange{
    border-style: solid;
    border-radius: 7px;
    border-width: 1px;
    border-color: orange;
    background-color: #ffcc77;
}
.navbar-brand, .procurarimg, .caminhao{
    mix-blend-mode:multiply;
}
.dropdown-menu{
    font-size: 14px;
    background-color: orange; /* Cor laranja */
    color: rgb(0, 0, 0); /* Cor do texto */
    border: none; /* Remover bordas se necessário */
}
.dropdown-item:hover, .dropdown-item:target, .dropdown-item:active, .dropdown-item:focus{
    background-color: #e64a19;
 color: black;
}
textarea {
   resize: none;
}
.dropdown-item{
    color: black;
}
.tabela, .tabela tr, .tabela th, .tabela td{
    border: black 1px solid;
}