
.fs-12{
    font-size: 12px;

}
.btn-custom-orange {
    background-color: #f58c24; /* Cor laranja */
    color: black; /* Cor do texto */
    border: none; /* Remover bordas se necessário */
}

.btn-custom-orange:hover, .btn-custom-orange:focus, .btn-custom-orange:active, .btn-custom-orange:target  {
    background-color: #e64a19; /* Cor laranja escura para o efeito hover */
    color: black;
}
.dropdown-menu {
    min-width: auto; /* Allow width to fit content */
    text-align: left;
}
.navbar-brand{
    mix-blend-mode:multiply;
}
.dropdown-menu{
    font-size: 14px;
    background-color: #f58c24; /* Cor laranja */
    color: rgb(0, 0, 0); /* Cor do texto */
    border: none; /* Remover bordas se necessário */
}
.dropdown-item:hover, .dropdown-item:target, .dropdown-item:active, .dropdown-item:focus{
    background-color: #e64a19;
}

