{% extends "./template.html" %}
{% block content %}
    <div class="shadow text-black p-1 m-auto border-orange w-25">
    <h3>Formulário de Avaria</h3>
    <img class="procurarimg" src="../static/imagens/cadastrar.png" width="60" alt="">
    <form action="/avarias/cadastro" method="post">
        <div class="mb-3"><label for="data_de_insercao">Data:</label>
            <input class="form-control text-center w-50 m-auto" type="date" id="data_de_insercao" name="data_de_insercao"  required></div>

        <div class="mb-3"><label for="codigo_produto">Código do Produto:</label>
            <input class="form-control text-center w-50 m-auto" type="number" id="codigo_produto" name="codigo_produto" value="{{ produto.codigo_do_produto }}" readonly required></div>

        <div class="mb-3"><label for="nome_produto">Nome do Produto:</label>
            <input class="form-control text-center w-50 m-auto" type="text" id="nome_produto" name="nome_produto" minlength="600" value="{{ produto.nome_do_produto }}" readonly required ></div>

       <div class="mb-3"><label for="preco_produto">Preço de custo (R$): </label>
           <input class="form-control text-center w-50 m-auto" type="text" id="preco_produto" name="preco_produto" value="{{produto.preco_do_produto}}" required readonly></div>

        <div class="mb-3"><label for="quantidade">Quantidade: </label><br>
            <input class="form-control text-center w-50 m-auto" type="number" id="quantidade" name="quantidade" step="0.001" min="0" value="0" required></div>

        <div class="mb-3"><label>Tipo de Avaria: </label>
            <select class="form-select text-center w-50 m-auto" name="tipodeavaria" id="tipodeavaria">
            <option>Embalagem</option>
             <option>Estragado</option>
            <option>Vencido</option>
            </select></div>

        <div class="mb-3"><label>Uso e consumo?:</label>
            <select class="form-select text-center w-50 m-auto" name="usoeconsumo" id="usoeconsumo">
            <option>Não</option>
                <option>Sim</option>
            </select></div>

        <input class="btn btn-warning" type="submit" value="Cadastrar">
    </form>
</div>
{% endblock %}
