{% extends "./template.html" %}
{% block content %}
    <style>
    h3{
        text-align: center  ;
    }
    </style>
    <h2>Listagem de Avarias</h2>
        <h3>Referente ao mês de {{ mes }}</h3>
    <div class="resumo">
    <div class="resumoavarias">
    <h3>Custos:</h3>
    <h4>Custos de avarias: R${{ total_soma_avarias }} </h4>
        {% if total_soma_avarias and total_soma_avarias  %}
            <h4>Custos médio por avaria: R${{ "{:.2f}".format(total_soma_avarias / avarias_quantidade) }} </h4>
        {% else %}
                    <h4>Custos médio por avaria: R$0</h4>
        {% endif %}

    </div><br>
    <div class="resumoavarias">
            <h3>Descrição de custos:</h3>
    <h5>Custos avarias por embalagem: R${{ total_soma_avarias_embalagem }} </h5>
    <h5>Custos de avarias por vencimento: R${{ total_soma_avarias_vencimento }} </h5>
    <h5>Custos de avarias estragadas: R${{ total_soma_avarias_estragado }} </h5>
    <h5>Custos enviados a cozinha: R${{ total_soma_avarias_cozinha }} </h5>
    </div><br>
    <div class="resumoavarias">
     <h3>Descrição de itens:</h3>
    <h5>Quantidade de embalagem: {{ avarias_embalagem_quantidade }}</h5>
    <h5>Quantidade de vencidos: {{ avarias_vencidos_quantidade }}</h5>
    <h5>Quantidade de entregados: {{ avarias_estragados_quantidade }}</h5>
    </div>
    <div class="resumoavarias">
        <h3>10 maiores custos</h3>
    <table class="dez_itens">
        <tr>
            <th>Código</th>
            <th>Custo</th>
        </tr>
        {% for i in dez_itens %}
        <tr>
            <td>{{ i.codigo_do_produto }}</td>
                <td>R${{  i.preco_total }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    </div>
    <div class="tabelaavarias">
    <table>
  <tr>
      <th>Data</th>
    <th>Código</th>
    <th>Produto</th>
    <th>Quantidade</th>
    <th>Custo</th>
    <th>Tipo de Avaria</th>
    <th>Cozinha?</th>
    <th>Usuário</th>
    <th>Ação</th>
  </tr>
   {% for avaria in avarias %}
  <tr>
      <td>{{ avaria.data_de_insercao.strftime('%d/%m/%Y') }}</td>
    <td>{{ avaria.codigo_do_produto }}</td>
    <td>{{ avaria.nome_do_produto }}</td>
    <td>{{ avaria.quantidade }}</td>
    <td>R$ {{ avaria.preco_total }}</td>
      <td>{{ avaria.tipodeavaria }}</td>
      <td>{{ avaria.cozinha }}</td>
    <td>{{ avaria.criador }}</td>
      <td><form action="/avarias/deletar/{{ avaria.id }}" method="post">
    <input type="submit" value="Apagar"></form>
    </td>
  </tr>
        {% endfor %}
</table>
    </div>
{% endblock %}