{% extends "./template.html" %}
{% block content %}
    <div><h2>Listagem de Avarias</h2>
    <h3>Referente ao mês de {{ mes }}</h3>
    <div><h4>Total de avarias R${{ total_soma_avarias }} </h4>
    <h4>Total de avarias por embalagem: R${{ total_soma_avarias_embalagem }} </h4>
    <h4>Total de avarias por vencimento: R${{ total_soma_avarias_vencimento }} </h4>
    <h4>Total de avarias por estragrado: R${{ total_soma_avarias_estragado }} </h4>
    <h4>Total enviados a cozinha: R${{ total_soma_avarias_cozinha }} </h4>
    </div>

    <table>
  <tr>
      <th>Vencimento</th>
    <th>Código</th>
    <th>Produto</th>
    <th>Quantidade</th>
    <th>Custo</th>
    <th>Tipo de Avaria</th>
    <th>Cozinha?</th>
      <th>Usuário</th>
      <th>Ação</th>
  </tr>
   {% for avaria in avarias %}
  <tr>
      <td>{{ avaria.data_de_vencimento.strftime('%d/%m/%Y') }}</td>
    <td>{{ avaria.codigo_do_produto }}</td>
    <td>{{ avaria.nome_do_produto }}</td>
    <td>{{ avaria.quantidade }}</td>
    <td>R$ {{ avaria.preco_total }}</td>
      <td>{{ avaria.tipodeavaria }}</td>
      <td>{{ avaria.cozinha }}</td>
    <td>{{ avaria.criador }}</td>
      <td><form action="/avarias/deletar/{{ avaria.id }}" method="post">
    <input type="submit" value="Apagar"></form>
    </td>
  </tr>
        {% endfor %}
</table>
{% endblock %}