{% extends "./template.html" %}
{% block content %}

    <h2>Listagem de Avarias</h2>
        <h5>Referente ao mês de {{ mes }}</h5>
    <div class="d-flex justify-content-center m-1 p-1 text-center">

    <div class="shadow border border-black m-3 p-2 h-50">
    <h5>Custos:</h5>
    <h5>Custos de avarias: R${{ total_soma_avarias - total_soma_avarias_usoeconsumo }} </h5>
    <h5>Uso e consumo: R${{ total_soma_avarias_usoeconsumo }} </h5>
    <h5>Total: R${{ total_soma_avarias }} </h5>
        {% if total_soma_avarias and total_soma_avarias  %}
            <h5>Custos médio por avaria: R${{ "{:.2f}".format(total_soma_avarias / avarias_quantidade) }} </h5>
        {% else %}
                    <h5>Custos médio por avaria: R$0</h5>
        {% endif %}

    </div>

    <div class="shadow border border-black m-3 p-2 h-50">
            <h5>Descrição de custos:</h5>
    <h5>Custos de avarias por embalagem: R${{ total_soma_avarias_embalagem }} </h5>
    <h5>Custos de avarias por vencimento: R${{ total_soma_avarias_vencimento }} </h5>
    <h5>Custos de avarias estragadas: R${{ total_soma_avarias_estragado }} </h5>
    <h5>Custos de uso e consumo: R${{ total_soma_avarias_usoeconsumo }} </h5>
     <h5 class="mt-3">Descrição de itens:</h5>
    <h5>Quantidade de embalagem: {{ avarias_embalagem_quantidade | int}}</h5>
    <h5>Quantidade de vencidos: {{ avarias_vencidos_quantidade | int }}</h5>
    <h5>Quantidade de estragados: {{ avarias_estragados_quantidade | int }}</h5>
    </div>

    <div class="shadow border border-black m-3 p-2">
        <h5>10 maiores custos</h5>
    <table  class="table-bordered m-auto table-sm text-center align-middle border-black">
        <tr>
            <th>Código</th>
            <th>Custo</th>
        </tr>
        {% for i in dez_itens %}
        <tr>
            <td>{{ i.codigo_do_produto }}</td>
                <td>R$ {{  i.preco_total }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>

    </div>


    <div class="table-responsive m-2 p-2 fs-12">
    <table class="shadow-lg table-bordered m-auto background-suave table-sm text-center align-middle border-black">
    <thead>
    <tr class="align-middle">
      <th class="text-center">Data</th>
    <th class="text-center">Código</th>
    <th class="text-center">Produto</th>
    <th class="text-center">Quantidade</th>
    <th class="text-center ">Custo</th>
    <th class="text-center">Tipo de Avaria</th>
    <th class="text-center">Uso e consumo?</th>
    <th class="text-center">Usuário</th>
    <th class="botoesacao text-center">Ação</th>
  </tr>
    </thead>
    <tbody>
   {% for avaria in avarias %}
  <tr>
      <td>{{ avaria.data_de_insercao.strftime('%d/%m/%Y') }}</td>
    <td>{{ avaria.codigo_do_produto }}</td>
    <td>{{ avaria.nome_do_produto }}</td>
    <td>{{ avaria.quantidade | format_quantidade}}</td>
    <td class="col-auto">R$ {{ avaria.preco_total }}</td>
      <td>{{ avaria.tipodeavaria }}</td>
      <td>{{ avaria.usoeconsumo }}</td>
    <td>{{ avaria.criador }}</td>
      <td class="botoesacao"><form action="/avarias/deletar/{{ avaria.id }}" method="post">
    <input class="btn btn-sm btn-warning m-2" type="submit" value="Apagar"></form>
    </td>
  </tr>
        {% endfor %}
    </tbody>
</table>
    </div>

{% endblock %}