{% extends "./template.html" %}
{% block content %}
    <div class="procurarproduto">
    <h2>Procurar produto</h2>
    <form action="/avarias/cadastrar" method="post">
        <label for="codigo">Código:</label><br>
        <input type="text" id="codigo" name="codigo"><br><br>

        <label for="codigo_barras">Código de Barras:</label><br>
        <input type="text" id="codigo_barras" name="codigo_barras"><br><br>

        <input type="submit" value="Buscar">
    </form>
    </div>

{% endblock %}