{% extends "./template.html" %}
{% block content %}
    <style>

    </style>
    <div class="text-black p-1 m-auto border-orange w-25">
    <h3>Procurar produto</h3>
    <img class="procurarimg" src="../static/imagens/procurar.png" width="80" alt="">
    <form action="/avarias/cadastrar" method="post">
        <label for="codigo">Código:</label><br>
        <input type="text" id="codigo" name="codigo"><br><br>

        <label for="codigo_barras">Código de Barras:</label><br>
        <input type="text" id="codigo_barras" name="codigo_barras"><br><br>

        <input type="submit" value="Buscar">
    </form>
    </div>

{% endblock %}