{% extends "./template.html" %}
{% block content %}
    <style>
    #quantidade_de_erros{
        width: 50px;
    }
    #produto_erro{
        width: 300px;
        height: 50px;
        text-align: start;
        resize: none;
    }
    #descricao_do_erro{
        width: 300px;
        height: 100px;
        text-align: start;
        resize: none;

    }
    #erro_cliente{
        width: 300px;
    }
    </style>
    <div class="cadastrar_produto">
    <h2>Formulário de erro</h2>
    <img class="procurarimg" src="../static/imagens/erro.png" width="100" alt=""><br><br>
    <form action="/entregas/cadastrar_erro" method="post">
        <label for="data_do_erro">Data do erro:</label><br>
        <input type="date" id="data_do_erro" name="data_do_erro" required><br><br>

        <label for="erro_funcionario">Funcionário:</label>
                <select name="erro_funcionario" id="erro_funcionario">
                {% for i in funcionarios %}
                    {% if i.funcao != 'Vendedor' or i.funcao != 'Ajudante' %}
                    <option class="lista">{{ i.nome }}</option>
                    {% endif %}
                {% endfor %}
            </select><br><br>

        <label for="erro_cliente">Cliente:</label><br>
        <input type="text" id="erro_cliente" name="erro_cliente" required ><br><br>

        <label for="rota_da_entrega">Rota:</label><br>
            <select name="rota_da_entrega" id="rota_da_entrega">
            {% for i in rotas %}
                <option class="lista">{{ i.rota }}</option>
            {% endfor %}
            </select><br><br>

        <label for="quantidade_de_erros">Quantidade de erros:</label>
        <input type="number" id="quantidade_de_erros" name="quantidade_de_erros" required><br><br>

        <label for="motorista_da_entrega">Motorista:</label>
        <select name="motorista_da_entrega" id="motorista_da_entrega">
            {% for i in funcionarios %}
                {% if i.funcao == 'Motorista' %}
                <option class="lista">{{ i.nome }}</option>
                {% endif %}
            {% endfor %}
            <option class="lista"> - </option>
            </select><br><br>
        <label for="produto_erro">Produtos do erro:</label><br>
        <textarea name="produto_erro" id="produto_erro" rows="14" cols="10"> </textarea><br><br>

        <label for="descricao_do_erro">Descrição do erro:</label><br>
        <textarea name="descricao_do_erro" id="descricao_do_erro" rows="14" cols="10"> </textarea><br><br>


        <input type="submit" value="Cadastrar">
    </form>
</div>
{% endblock %}

