{% extends "./template.html" %}
{% block content %}
    <style>
        select, .lista{
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .cadastro_rota{
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid #ffcc77 3px;
            border-radius: 5px;
            padding: 10px 10px 10px 10px;
            background-color: #ffcc77;
        }
        .form-group{
            padding: 10px;
        }
        #quantidade_de_entregas, #reentregas{
            width: 50px;
        }
        .caminhao{
            mix-blend-mode: multiply;
        }
    </style>
    <div class="cadastro_rota">
      <form method="POST" action="/entregas/cadastrar">
        <div>    <h2 class="vermelho">{{ erro }}</h2>
    <h2 class="verde">{{ sucesso }}</h2></div>
        <div><h3>Cadastro de entrega</h3></div>
        <div><img class="caminhao" src="../static/imagens/caminhao.png" width="150" alt=""></div>
        <div class="form-group">
          <label for="data_da_entrega">Data da Entrega:</label><br><br>
          <input type="date" class="form-control" id="data_da_entrega" name="data_da_entrega" required>
        </div>
        <div class="form-group">
          <label for="motorista">Motorista</label><br>
            <select name="motorista" id="motorista">
                {% for i in funcionarios %}
                    {% if i.funcao == 'Motorista' %}
                    <option class="lista">{{ i.nome }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
          <label for="ajudante">Ajudante</label><br>
            <select name="ajudante" id="ajudante">
                {% for i in funcionarios %}
                    {% if i.funcao == 'Ajudante' %}
                    <option class="lista">{{ i.nome }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
          <label for="rota">Rota:</label>
            <select name="rota" id="rota">
                {% for i in rotas_lista %}
                <option class="lista">{{ i.rota }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
          <label for="quantidade_de_entregas">Quantidade de Entregas:</label>
          <input type="number" class="form-control" id="quantidade_de_entregas" value="0" name="quantidade_de_entregas" required>
        </div>
              <div class="form-group">
          <label for="reentregas">Quantidade de Reentregas:</label>
          <input type="number" class="form-control" id="reentregas" value="0" name="reentregas" required>
        </div>
        <div class="form-group">
          <label for="tempo_total">Tempo Total:</label>
          <input type="time" class="form-control" id="tempo_total" name="tempo_total" required>
        </div>
        <div class="form-group">
          <label for="tempo_total_entrega">Tempo Total de Entrega:</label>
          <input type="time" class="form-control" id="tempo_total_entrega" name="tempo_total_entrega" required>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
    </div>
{% endblock %}
