{% extends "./template.html" %}
{% block content %}
<style>
@media print {
    .resumoentregas{
        font-size: smaller;

    }

}

    h3,h2{
        text-align: center  ;
    }

    </style>
    {% if not total_entregas_periodo_1 %}
    <div class="resumo">
        <div class="cadastrar_produto">
    <h2>Comparar Relatórios</h2>
    <form action="/entregas/comparar_entregas" method="post">
        <h4>Primeiro relatório</h4>
        <label for="data_inicial1">Data inicial:</label><br>
        <input type="date" id="data_inicial1" name="data_inicial1" required><br><br>

        <label for="data_final1">Data final</label><br>
        <input type="date" id="data_final1" name="data_final1" required><br><br>

         <h4>Segundo relatório</h4>
        <label for="data_inicial2">Data inicial:</label><br>
        <input type="date" id="data_inicial2" name="data_inicial2" required><br><br>

        <label for="data_final2">Data final</label><br>
        <input type="date" id="data_final2" name="data_final2" required><br><br>
        <input type="submit" value="Emitir">
    </form>
        </div></div>
    {% endif %}
{% if total_entregas_periodo_1 %}
    <h1>Comparação de relatórios de entregas</h1>
    <h3>Relatório 1: {{ data_inicial1.strftime('%d/%m/%Y')  }} á {{ data_final1.strftime('%d/%m/%Y')  }}</h3>
    <h3>Relatório 2: {{ data_inicial2.strftime('%d/%m/%Y')  }} á {{ data_final2.strftime('%d/%m/%Y')  }}</h3>
<div class="resumo">
       <div class="resumoentregas">
       <h2>Relatórios</h2>
       <h3>Entregas por rota</h3>
   <table class="listagemtabela">
    <tr>
        <th>Rota:</th>
        <th>Relatório 1</th>
        <th>Relatório 2</th>
        <th>%</th>
    </tr>
     {% for rota, entregas in entregas_por_rota.items() %}
    <tr>
        <td>{{ rota }}</td>
        <td>{{ entregas.total_entregas_1 }}</td>
        <td>{{ entregas.total_entregas_2 }}</td>
        <td>{{ calcular_porcentagem(entregas.total_entregas_1, entregas.total_entregas_2) }}</td>
    {% endfor %}
    </tr>


    </table><br>
</div>

              <div class="resumoentregas">

              <h2>Totais</h2>
                  <h3>Relatório 1</h3>
       <h4>Total de Entregas: {{ total_entregas_periodo_1 }}</h4>
       <h4>Total de Reentregas: {{ total_reentregas_periodo_1 }}</h4>
       <h4>Entrega por reentrega: {{ "{:.2f}".format((total_reentregas_periodo_1 / total_entregas_periodo_1) * 100) }}%</h4><br>
                  <h3>Relatório 2</h3>
       <h4>Total de Entregas: {{ total_entregas_periodo_2 }}</h4>
       <h4>Total de Reentregas:{{ total_reentregas_periodo_2 }} </h4>
       <h4>Entrega por reentrega: {{ "{:.2f}".format((total_reentregas_periodo_2 / total_entregas_periodo_2) * 100) }}%</h4><br>

               <br>
</div>

        <div class="resumoentregas">
              <h2>Comparação</h2>
                  <h3>Relatórios</h3>
            <h4>Total de Entregas: {{ calcular_porcentagem(total_entregas_periodo_1,total_entregas_periodo_2) }}</h4>
            <h4>Total de Reentregas:  {{ calcular_porcentagem(total_reentregas_periodo_1,total_reentregas_periodo_2) }}</h4>
               <br>
</div>
    </div>
{% endif %}
{% endblock %}