{% extends "./template.html" %}
{% block content %}

        <h3>Listagem de entregas</h3>
        <h4>Referente ao período de {{ data_inicial.strftime('%d/%m/%Y') + " à " + data_final.strftime('%d/%m/%Y') }}</h4>

    <div class="resumo d-flex justify-content-center m-1 p-1 text-center">
    <div class="shadow border border-black m-3 p-2 h-50">
    <h3>Rank de motoristas</h3>
   <table class="table-bordered table table-sm text-center align-middle border-black">
    <tr>
        <th>Nome:</th>
        <th>Positivos</th>
        <th>Negativos</th>
        <th>Total</th>
    </tr>
        {% for i in resultados %}
    <tr>
        <td>{{ i.motorista }}</td>
        <td>{{ i.total_positivo }}</td>
        <td>{{ i.total_negativo }}</td>
        <td>{{ i.total_sum  }}</td>

    </tr>
        {% endfor %}

    </table>
</div>

       <div class="shadow border border-black m-3 p-2 h-50">
       <div>
           <h3>Entregas por rota</h3>
   <table class="table-bordered table table-sm text-center align-middle border-black">
    <tr>
        <th>Rota:</th>
        <th>Entregas</th>
        <th>Reentregas</th>
    </tr>
        {% for i in resultados_entregas %}
    <tr>
        <td>{{ i.rota }}</td>
        <td>{{ i.total_entregas }}</td>
        <td>{{ i.total_reentregas }}</td>

    </tr>
        {% endfor %}

    </table>
       </div>
</div>


       <div class="shadow border border-black m-3 p-2 h-50 ">
           <div class="d-inline-flex h-75 m-auto flex-column">
       <h4>Total de Entregas: {{ total_de_entregas }}</h4>
       <h4>Total de Reentregas: {{ total_de_reentregas }}</h4>
</div>
               <br>
</div>
</div>

    <div class="table-responsive m-2 p-2">
    <table class="shadow-lg table-bordered m-auto table-sm text-center align-middle border-black">
  <tr>
      <th>Data da entrega</th>
    <th>Motorista</th>
    <th>Ajudante</th>
    <th>Rota</th>
    <th>Q. de Entrega</th>
      <th>Reentregas</th>
    <th>Tempo total</th>
    <th>T. médio total</th>
      <th>Tempo de entregas</th>
      <th>T. médio entregas</th>
      <th>Tempo</th>
      <th class="botoesacao">Ação</th>
  </tr>
   {% for entrega in entregas %}
  <tr>
      <td>{{ entrega.data_da_entrega.strftime('%d/%m/%Y') }}</td>
    <td>{{ entrega.motorista }}</td>
    <td>{{ entrega.ajudante }}</td>
    <td>{{ entrega.rota }}</td>
    <td>{{ entrega.quantidade_de_entregas }}</td>
    <td>{{ entrega.reentregas }}</td>
      <td>{{ entrega.tempo_total }}</td>
      <td>{{ entrega.tempo_medio_total }}</td>
    <td>{{ entrega.tempo_total_entrega }}</td>
   <td>{{ entrega.tempo_medio_entrega }}</td>
  <td>{{ entrega.resultado_tempo }}</td>
   <td class="botoesacao">
    <form action="/entregas/deletar_entrega/{{ entrega.id }}" method="post">
    <input  class="btn btn-sm btn-warning m-2" type="submit" value="Apagar">
    </form></td>
  </tr>
        {% endfor %}
</table>
</div>

{% endblock %}