{% extends "./template.html" %}
{% block content %}
    <style>
    @media print {
    .resumo{
        margin-bottom: 10px;
    }

}
.tabelaerrosentregas{
        font-size: small;
    }
    </style>

       <h2>Listagem de erros logísticos</h2>
        <h3>Referente ao período de {{ data_inicial.strftime('%d/%m/%Y') }} á {{ data_final.strftime('%d/%m/%Y') }}</h3>
    <div class="resumo">
    <br>
    <div class="resumoerros">
    <h3>Erros por Funcionário</h3>
    <table class="tabelaerros">
        <tr>
            <th>Funcionário</th>
            <th>Erros</th>
        </tr>
        {% for erro_por_funcionario in erros_por_funcionario %}
        <tr>
            <td>{{ erro_por_funcionario.erro_funcionario }}</td>
            <td>{{ erro_por_funcionario.total_erros }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>

    <div class="resumoerros">
    <h3>Total de erros: {{ total_erros }}</h3>
    </div>


    </div>
        <br>
    <br>
    <div>
    <table class="tabelaerrosentregas">
  <tr>
      <th>Data</th>
      <th>Funcionário</th>
      <th>Cliente</th>
      <th>Motorista</th>
      <th>Rota</th>

      <th>Erros</th>

      <th>Produtos</th>
      <th>Descrição do erro</th>
      <th>Criador</th>
      <th class="botoesacao">Ação</th>

  </tr>
   {% for erro in erros  %}
  <tr>
    <td>{{ erro.data_do_erro.strftime('%d/%m/%Y') }}</td>
    <td>{{ erro.erro_funcionario }}</td>
    <td>{{ erro.erro_cliente}}</td>
    <td>{{ erro.motorista_da_entrega }}</td>
    <td>{{ erro.rota_da_entrega }}</td>
    <td>{{ erro.quantidade_de_erros}}</td>
    <td>{{ erro.produto_erro }}</td>
    <td>{{ erro.descricao_do_erro }}
    <td>{{ erro.criador }}</td>
    <td class="botoesacao">
        <form action="/entregas/editar_erro/{{ erro.id }}" method="get">
        <input type="submit" value="Editar">
    </form>
        <form action="/entregas/deletar_erro/{{ erro.id }}" method="post">
        <input type="submit" value="Apagar">
    </form></td>
  </tr>
        {% endfor %}
</table></div>
{% endblock %}