<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Caicó Frios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="menu">
    <div class="logo"><img src="{{ url_for('static', filename='imagens/logo.png') }}" width="40"></div>
    <div class="botoesmenu">
    <div class="botaoavarias">Avarias
        <div class="botaoavariasconteudo">
            <a href="/avarias/" class="linkbotoes">Visualizar</a>
            {% if current_user.is_authenticated %}
            <a href="/avarias/procurar" class="linkbotoes">Cadastrar</a>
            <a href="/avarias/relatorio" class="linkbotoes">Relatório</a>
            <a href="/avarias/comparar" class="linkbotoes">Comparar</a>
            {% endif %}
        </div>
    </div>
        <div class="botaovecimentos">Vencimentos
        <div class="botaovecimentosconteudo">
            <a  href="/vencimentos/" class="linkbotoes">Visualizar</a>
            {% if current_user.is_authenticated %}
            <a  href="/vencimentos/procurar" class="linkbotoes">Cadastrar</a>
            <a  href="/vencimentos/analisarvolume" class="linkbotoes">Analisar</a>
            <a  href="/vencimentos/cadastrar_volume" class="linkbotoes">C. Volume</a>
            {% endif %}

        </div>
    </div>
            {% if current_user.is_authenticated and current_user.acesso > 1%}
          <div class="botaovecimentos">Logística
        <div class="botaovecimentosconteudo">
            <a  href="/entregas/" class="linkbotoes">Entregas</a>
            <a  href="/entregas/cadastrar" class="linkbotoes">C. Entrega</a>
            <a  href="/entregas/relatorio" class="linkbotoes">E. Relatório</a>
            <a  href="/entregas/erros" class="linkbotoes">Erros</a>
            <a  href="/entregas/erros_relatorio" class="linkbotoes">R. Erros</a>
        </div>

          </div>{% endif %}

                            {% if current_user.is_authenticated and current_user.acesso > 1%}
          <div class="botaovecimentos">Vendas
        <div class="botaovecimentosconteudo">
            <a  href="/vendas/erros" class="linkbotoes">Erros</a>
            <a  href="/vendas/cadastrar_erro" class="linkbotoes">C. Erro</a>
            <a  href="/vendas/relatorio" class="linkbotoes">Relatório</a>
        </div>{% endif %}
                 <div class="botaovecimentos">{{(current_user.username).upper()}}
        <div class="botaovecimentosconteudo">
            {% if current_user.is_authenticated and current_user.acesso > 1%}
            <a  href="/adm/funcionarios" class="linkbotoes">Funcionários</a>
            <a  href="/adm/cadastrar_funcionario" class="linkbotoes">Cadastrar F.</a>
            <a  href="/adm/usuarios" class="linkbotoes">Usuários</a>
            <a  href="/adm/cadastrar_usuario" class="linkbotoes">C. Usuário</a>

            {% endif %}
            <a href="/sair" class="linkbotoes">Sair</a>

        </div>
          </div></div>

    
    </div>
    </div>
<div class="conteudo">{% block content %}{% endblock %}</div>

</body>
</html>